n8n-workflows/book_meeting_template.json
{
  "name": "Salesboy - Book Meeting",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "book_meeting",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "book_meeting"
    },
    {
      "parameters": {
        "functionCode": "const payload = $input.item.json;\nconst payloadData = payload.payload || {};\n\nreturn {\n  json: {\n    user_id: payload.user_id,\n    from_number: payload.from_number,\n    customer_name: payloadData.customer_name || 'Unknown',\n    reason: payloadData.reason || 'Meeting request',\n    preferred_date: payloadData.preferred_date || 'Not specified',\n    preferred_time: payloadData.preferred_time || 'Not specified',\n    original_message: payload.original_message,\n    created_at: new Date().toISOString()\n  }\n};"
      },
      "name": "Extract Meeting Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "functionCode": "// TODO: Replace with actual calendar integration\n// Example: Google Calendar, Calendly, Microsoft Outlook\n\nconst meetingData = $input.item.json;\nconst meetingId = 'MTG-' + Date.now();\n\nreturn {\n  json: {\n    success: true,\n    meeting_id: meetingId,\n    customer_name: meetingData.customer_name,\n    message: `Meeting ${meetingId} booked for ${meetingData.customer_name} on ${meetingData.preferred_date}`,\n    details: meetingData\n  }\n};"
      },
      "name": "Book Meeting",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Extract Meeting Data", "type": "main", "index": 0}]]
    },
    "Extract Meeting Data": {
      "main": [[{"node": "Book Meeting", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
