n8n-workflows/create_order_template.json
{
  "name": "Salesboy - Create Order",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "create_order",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "create_order"
    },
    {
      "parameters": {
        "functionCode": "const payload = $input.item.json;\nconst payloadData = payload.payload || {};\n\nreturn {\n  json: {\n    user_id: payload.user_id,\n    from_number: payload.from_number,\n    customer_name: payloadData.customer_name,\n    customer_email: payloadData.customer_email,\n    delivery_address: payloadData.delivery_address,\n    product: payloadData.items || payloadData.product || 'Unknown',\n    quantity: payloadData.quantity || 1,\n    price: payloadData.price || 0,\n    notes: payloadData.notes || '',\n    original_message: payload.original_message,\n    order_date: new Date().toISOString(),\n    status: 'pending'\n  }\n};"
      },
      "name": "Extract Order Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "functionCode": "// TODO: Add your order creation logic here\n// Examples:\n// - Insert into Supabase\n// - Call your e-commerce API\n// - Send to inventory system\n\nconst orderData = $input.item.json;\nconst orderId = 'ORD-' + Date.now();\n\nreturn {\n  json: {\n    success: true,\n    order_id: orderId,\n    customer_name: orderData.customer_name,\n    product: orderData.product,\n    quantity: orderData.quantity,\n    total: orderData.quantity * (orderData.price || 100000),\n    message: `Order ${orderId} created for ${orderData.customer_name}. Product: ${orderData.product} (Qty: ${orderData.quantity})`\n  }\n};"
      },
      "name": "Create Order",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Extract Order Data", "type": "main", "index": 0}]]
    },
    "Extract Order Data": {
      "main": [[{"node": "Create Order", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
