n8n-workflows/place_order_template.json
{
  "name": "Salesboy - Place Order",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "place_order",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "place_order"
    },
    {
      "parameters": {
        "functionCode": "const payload = $input.item.json;\nconst payloadData = payload.payload || {};\n\nreturn {\n  json: {\n    user_id: payload.user_id,\n    from_number: payload.from_number,\n    customer_name: payloadData.customer_name || 'Unknown',\n    items: payloadData.items || 'Unknown',\n    quantity: payloadData.quantity || 1,\n    customer_phone: payloadData.customer_phone || payload.from_number,\n    original_message: payload.original_message,\n    order_date: new Date().toISOString()\n  }\n};"
      },
      "name": "Extract Order Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "functionCode": "const orderData = $input.item.json;\nconst orderId = 'PLO-' + Date.now();\n\nreturn {\n  json: {\n    success: true,\n    order_id: orderId,\n    customer_name: orderData.customer_name,\n    items: orderData.items,\n    quantity: orderData.quantity,\n    message: `Order ${orderId} placed for ${orderData.customer_name}. Items: ${orderData.items} (Qty: ${orderData.quantity})`\n  }\n};"
      },
      "name": "Place Order",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Extract Order Data", "type": "main", "index": 0}]]
    },
    "Extract Order Data": {
      "main": [[{"node": "Place Order", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
